# Data Science Tools and Ecosystem

In [12]:
print("In this notebook, Data Science Tools and Ecosystem are summarized.")

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular Languages In data science
- Commonly Used Libraries
- Simple Arithmatic Expressions in Python

In [14]:
print("Some of the popular languages that Data Scientists use are:")

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [19]:
print("Some of the commonly used libraries used by Data Scientists include:")

Some of the commonly used libraries used by Data Scientists include:

- Numpy
- Matplotlib
- Pandas

| Data Science Tools |
| ---- |
|Jupyter Notebook|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [34]:
print("This a simple arithmetic expression to mutiply then add integers")

This a simple arithmetic expression to mutiply then add integers

In [36]:
(3*4)+5

17

In [38]:
print("This will convert 200 minutes into hours by diving by 60")

This will convert 200 minutes into hours by diving by 60

In [4]:
(200/60)

3.3333333333333335

## Author

In [12]:
print("Emily Knight-Hastings")

Emily Knight-Hastings